.delete-wraper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-container {
  background: #fff;
  z-index: 1111;
  width: 500px;
  max-width: 90%;
}

.delete-header {
  padding: 0.5rem;
  background: #333333;
  color: #fff;
}
.delete-content {
  padding: 0.5rem;
}

.delete-content p {
  padding: 1rem;
}

.delete-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
