.single-feature-post {
  display: flex;
  padding: 0.5rem;
  border: 1px solid #c6c6c6;
  margin: 0.5rem 0;
}

.sfp__thumbnail {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.sfp__thumbnail img {
  max-width: 100%;
}

.sfp__action {
  margin-left: 0.5rem;
  position: relative;
  width: 100%;
}

.sfp__action h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0.5rem 0;
}

.sfp__remove-feature {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
