.admin-navigation {
  height: 100%;
  position: fixed;
  z-index: 1;
  display: none;
}

.show-admin-nav {
  display: block;
}

.an__nav {
  background: #3d3d3d;
  color: white;
  height: 100%;
  position: fixed;
  z-index: 10;
  width: 70%;
  overflow-y: scroll;
  z-index: 10;
}

.admin-dashboard-header {
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px dotted #ffff;
  margin-bottom: 1rem;
  text-align: center;
  background: #5c5c5c;
  position: relative;
  color: #ffffff;
}

.close-admin-nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.an__nav-group {
  margin: 0;
  list-style: none;
}

.an__nav-goup-list a {
  font-size: 0.875rem;
  padding: 1rem;
  color: #d3d2d2;
  width: 100%;
  display: block;
}

.active-admin-nav {
  background: #000000;
  color: #555555 !important;
}

@media (min-width: 680px) {
  .admin-navigation {
    width: 25%;
    position: fixed;
    height: 100vh;
    transform: translateX(0);
    display: block;
  }
  .an__nav {
    height: 100%;
    position: unset;
    width: 100%;
  }
}
