/* .msg-card-wrap {
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0.2;
  display: none;
}

.show-msg-card-wrap {
  display: block;
  opacity: 0.6;
  transform: translateX(0);
} */

.msg-card {
  box-shadow: 0px 1px 2px 1px rgb(0, 0, 0);
  background: var(--bg);
  position: fixed;
  width: 90%;
  left: 5%;
  top: 20vh;
  z-index: 10;
  opacity: 0;
  transform: translateX(-200%);
  transition: 0.1s ease-in-out;
  border-radius: 8px;
  text-align: left;
}

.show-msg {
  opacity: 1;
  transform: translateX(0);
}

.msg-title {
  padding: 0.5rem;
  margin: 0;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  /* font-size: 1.4rem; */
  border-bottom: 2px solid green;
}

.msg-content {
  padding: 1rem;
}

.msg-action {
  padding: 1rem;
  text-align: right;
}

@media (min-width: 680px) {
  .msg-card {
    width: 40rem;
    left: calc((100% - 40rem) / 2);
  }
}
